@font-face {
    font-family: "Open Sans";
    src: url("//websitespeedycdn.b-cdn.net/speedyweb/font/opensans-semibold-webfont.woff") format("woff2"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/opensans-semibold-webfont.woff2") format("woff");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("//websitespeedycdn.b-cdn.net/speedyweb/font/opensans-regular-webfont.woff2") format("woff2"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/opensans-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  
  /********************Start:   new Added font-family *************************/
  
  @font-face {
    font-family: "Open Sans";
    src: url("//websitespeedycdn.b-cdn.net/speedyweb/font/opensans-bold-webfont.woff2") format("woff2"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/opensans-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Open Sans";
    src: url("//websitespeedycdn.b-cdn.net/speedyweb/font/opensans-extrabold-webfont.woff2") format("woff2"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/opensans-extrabold-webfont.woff") format("woff");
    font-weight: 900;
    font-style: normal;
  }

  /* Line Awsome */

  @font-face {
    font-family: "Line Awesome Free";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-brands-400.eot");
    src: url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-brands-400.eot?#iefix")
        format("embedded-opentype"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-brands-400.woff2") format("woff2"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-brands-400.woff") format("woff"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-brands-400.ttf") format("truetype"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-brands-400.svg#lineawesome") format("svg");
  } 
   @font-face {
    font-family: "Line Awesome Free";
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-solid-900.eot");
    src: url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-solid-900.eot?#iefix")
        format("embedded-opentype"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-solid-900.woff2") format("woff2"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-solid-900.woff") format("woff"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-solid-900.ttf") format("truetype"),
      url("//websitespeedycdn.b-cdn.net/speedyweb/font/la-solid-900.svg#lineawesome") format("svg");
  } 




  /* CSS 20-04-2023 */

  .pagination-button#next-button {
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 18L14.7874 12.2126V12.2126C14.9048 12.0952 14.9048 11.9048 14.7874 11.7874V11.7874L9 6' stroke='%23d3d3d3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); */
    background-size: 100%;
    background-repeat: no-repeat;
    
  }
  .pagination-button#prev-button {
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 18L14.7874 12.2126V12.2126C14.9048 12.0952 14.9048 11.9048 14.7874 11.7874V11.7874L9 6' stroke='%23d3d3d3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); */
    background-size: 100%;
    background-repeat: no-repeat;
    /* rotate: 180deg; */
  }
  #tooglerTable > i {
    display: block;
    width: 30px;
    height: 30px;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 18L14.7874 12.2126V12.2126C14.9048 12.0952 14.9048 11.9048 14.7874 11.7874V11.7874L9 6' stroke='%23d3d3d3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); */
    background-size: 100%;
}
.content-table>ul>li {
  font-size: 18px;
  font-weight: 600!important;
}
.content-table>#content__table>li>a {
  font-weight: 500!important;
}
.content-table>#content__table>li>ul>li{
  font-size: 17px;
}
.content-table>#content__table>li>ul>li>a{
  font-size: 17px;
}
.post_single_wrapper h5 {
  margin: 15px 0px 6px;
  font-size: 16px;
  color: #fff;
}
/* .blog_features_card_body a.btn:after {
  background-color: #fff;
} */


/* CSS 21-04-2023 */

.load_device .stats > h5 {
  margin-top: 7px;
} 

/* CSS 09-05-2023 */
.wave {
  top: -54% !important;
}

/* CSS 11-05-2023 */

.weebly {
  width: 100px !important;
}

.webwave {
  width: 185px !important;
}

.clickfunnels {
  width: 150px !important;
}

.logo__container .logo > span {
  position: relative;
  top: 12px;
}

/* CSS 24-05-2023 */

.mail__icon__footer { background-image: url('https://websitespeedy.com/assets/images-optimized/mail-icon.png') !important; }

.location__icon__contact { background-image: url('https://websitespeedy.com/assets/images-optimized/location-icon.png') !important; }

.mail__icon__contact { background-image: url('https://websitespeedy.com/assets/images-optimized/mail-icon-white.png') !important; }

.call__icon__contact { background-image: url('https://websitespeedy.com/assets/images-optimized/call-icon.png') !important; }

/* .website__test__section{background-image:url("https://websitespeedycdn.b-cdn.net/speedyweb/images/bggg.webp") !important;} */

span.circle, span.square, span.triange {
  background-size: contain !important;
}

#videoControls .video-control-pause svg, #videoControls .video-control-play svg, #videoControls2 .video-control-pause svg, #videoControls2 .video-control-play svg {
    background: #000;
    border-radius: 40px;
}

.banner-matters.page_lac.only_platform .img__wrapper {
  width: 30%;
}

.post_single_wrapper>p, .case__study__single p {  color: rgb(255 255 255 / 80%); }

@media screen and (max-width:1275px) {
  .before__after__wrapper { width: 100% !important; }
  .banner-matters.page_lac.only_platform .img__wrapper { width: 30%; }
  .partners__grid {  grid-template-columns: repeat(4,1fr) !important; }
}

@media screen and (max-width: 991px) {
  
  .header__section {
    height: 80px !important;
  }

}

@media screen and (max-width: 768px) {
  
  .header__section {
    height: auto !important;
  }

  .logo__container .logo > span {
    position: relative;
    top: 10px;
  }
  .partners__grid { grid-template-columns: repeat(2,1fr) !important; }

  /* CSS 19-06-2023 */
  .post_single_wrapper>p, .case__study__single p, .post_single_wrapper>ul>p, .post_single_wrapper>ul>li>p { font-size: 17px;overflow-wrap: break-word;hyphens: auto;text-align: justify; }
  .content-table>ul>li { font-size: 16px; font-weight: 600!important; }
  .content-table { margin-bottom: 0px; }
  .post_meta_item > p { font-size: 15px; }
  a.badge-category { font-size: 15px; }
  .content-table>ul { gap: 20px; }
  .content-table>ul>li>a, .performance__section .bottom__content .heading .key__points p { font-size: 16px; }

}

@media screen and (max-width: 480px){
  .logo__container .logo > span {
    position: relative;
    top: 5px;
  }
}