/* /---------------------------------------/  */
body {
    position: relative;
}

body .process-loader {
    background: #80808045;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 10px;
    z-index: 12;
    display: none;
}

/* /---------------------------------------/ */
 ul.tabs {
    margin-top: 0px;
    padding: 0 2.5rem;
}

li.Polaris-Tabs__TabContainer a {
    font-weight: 600;
    color: rgb(164 164 164);
    border: 0px;
    border-bottom: 3px solid transparent;
}

ul.tabs li.current a,
ul.tabs li a:hover {
    /* color: rgb(32, 34, 35); */
    /* border-color: rgb(32, 34, 35); */
    color: #008060;
    border-color: #008060;

}

#tab-1 {
    margin-top: 0px;
}

#tab-1 .padding-top {
    max-width: 100%;
    padding: 0px;
}

#tab-1 .Polaris-Labelled__LabelWrapper {
    justify-content: center;
    text-align: center;
}

#Select1Label {
    padding: 0px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
}

.plans_page .app-setting.row {
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

.plans_page .app-setting.row>label {
    margin: 0px;
    font-size: 15px;
}

/* #tab-1 .card__plan {
    background: #fff;
    box-shadow: 0px 1px 10px -6px rgb(0 0 0 / 15%);
    padding: 2rem;
    border-radius: 4px;
    transition: .3s;
    border: 1px solid transparent;
} */

/* #tab-1 .card__plan.active,
#tab-1 .makk-wrapper-card .plan-items .card__plan.active {
    border-color: #2b8060;
} */


#myForm .field-wrapper:last-child #n-form-submit,
#myFormUpdate .field-wrapper:last-child #n-form-update,
.stop-scrolling .sweet-alert .sa-button-container .confirm {
    display: block;
    color: #fff;
    padding: 12px;
    margin-top: 24px;
    border-radius: 0.4rem;
    text-align: center;
    font-weight: 500;
    transition: .3s;
    width: 100%;
    background: #008060;
}

#myForm .field-wrapper:last-child #n-form-submit,
#myFormUpdate .field-wrapper:last-child #n-form-update {
    width: auto;
    display: inline-block;
    margin: 13px 0px;
}

.stop-scrolling .sweet-alert .sa-button-container .confirm {
    width: 100%;
    margin-top: 0px;
    padding: 5px 70px;
}



#myForm .field-wrapper:last-child #n-form-submit:hover,
#myFormUpdate .field-wrapper:last-child #n-form-update:hover,
.stop-scrolling .sweet-alert .sa-button-container .confirm:hover,
#myForm .field-wrapper:last-child #n-form-submit:focus,
#myFormUpdate .field-wrapper:last-child #n-form-update:focus,
.stop-scrolling .sweet-alert .sa-button-container .confirm:focus {
    background: #006e52;
    outline: none;
}



#tab-1 .card__plan__inner__wrapper .plan-name span {
    top: -50px;
    border-radius: 8px;
    line-height: 1;
    right: 15px;
    LEFT: auto;
    background: #333;
    color: #fff;
    padding: 4px 10px 6PX;
    text-transform: uppercase;
    font-weight: normal;
    WIDTH: fit-content;
    font-size: 14px;
    display: none;
}
#tab-1 .card__plan__inner__wrapper .plan-name span p:empty {
    display: none;
}
#tab-1  .plan-items .card__plan:first-child .plan-name span{
    display: block;
}

#tab-1 .card__plan__inner__wrapper .plan-name span p {
    margin: 0;
}

span:empty {
    display: none !important;
}

.update-notification-status {
    background-color: #ffcdd2;
    padding: 0px 6px;
    border-radius: 0.4rem;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    color: #f44336;
    line-height: 22px;
    display: inline-block;
}

.update-notification-status.active {
    background-color: #c8e6c9;
    color: #388e3c;
}

.Polaris-Label__Text {
    font-weight: 600;
}

.Polaris-Select__Backdrop::after {
    background: #fff;
}

.sp-original-input-container .sp-add-on {
    z-index: 99;
}

.sp-colorize-container {
    background-image: none !important;
}

/* old css */
.tab-content {
    display: none;
    /*padding: 15px;*/
}

.tab-content.current {
    display: inherit;
}

/* Style the tab content */
.tabcontent {
    display: none;

}

.template2-img {
    width: 50px !important;
}

.tabReact {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tabReact button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.activate-status {
    color: red;
}

.deactivate-status {
    color: green;
}

/* Popup box BEGIN */
.hover_bkgr_fricc {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.hover_bkgr_fricc .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hover_bkgr_fricc .modal--inner {
    background-color: #fff;
    /*box-shadow: 10px 10px 60px #555;*/
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
}

.popupCloseButton {
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
}

.popupCloseButton svg {
    fill: rgba(92, 95, 98, 1)
}

.popupCloseButton:hover svg {
    fill: rgba(26, 28, 29, 1);
}

.popupCloseButton:hover {
    background-color: rgba(241, 242, 243, 1);
}

.hover_bkgr_fricc .modal--inner .main__div_heading {
    border-bottom: .1rem solid rgba(225, 227, 229, 1);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.hover_bkgr_fricc .modal--inner .main__div_heading h1 {
    font-size: 1.75rem;
    font-weight: 500;
    text-transform: capitalize;
}

.hover_bkgr_fricc .modal--inner .main__div_link {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hover_bkgr_fricc .modal--inner .main__div_link button {
    border: 0px;
    background-color: transparent;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hover_bkgr_fricc .modal--inner .main__div_link button .type {
    position: relative;
    background: #f2f4f7;
    border: 2px solid #e8ebed;
    padding: 20px 25px;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s ease;
}

.hover_bkgr_fricc .modal--inner .main__div_link button:hover .type {
    border-color: #40b3ff;
    background-color: rgba(64, 179, 255, 0.1);
}

.hover_bkgr_fricc .modal--inner .main__div_link button:hover .type .logo,
.hover_bkgr_fricc .modal--inner .main__div_link button:hover .type p {
    color: #789093;
}

.hover_bkgr_fricc .modal--inner .main__div_link button:hover .type .logo {
    color: #40b3ff;
}

.hover_bkgr_fricc .modal--inner .main__div_link button .type .logo,
.hover_bkgr_fricc .modal--inner .main__div_link button .type p {
    transition: all 0.5s ease;
}

.hover_bkgr_fricc .modal--inner .main__div_link button .type .logo {
    color: #8a959c;
    margin-bottom: 8px;
}

.hover_bkgr_fricc .modal--inner .main__div_link button .type .logo svg {
    height: 40px;
}

.hover_bkgr_fricc .modal--inner .main__div_link button .type p {
    margin-bottom: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #8a959c;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}

/* Popup box BEGIN */
.Polaris-Page-Header {
    padding: 1.6rem 0 0;
    position: relative;
}

.Polaris-Page-Header__Row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.Polaris-Page-Header__BreadcrumbWrapper {
    flex: 0 0 auto;
    max-width: 100%;
    margin-right: 1.6rem;
}

.Polaris-Breadcrumbs__Breadcrumb {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 3.6rem;
    color: rgba(109, 113, 117, 1);
    text-decoration: none;
    margin: 0;
    padding: 0.2rem;
    border-radius: 0.4rem;
    border: 1px solid rgba(186, 191, 195, 1);
    position: relative;
}

.Polaris-Breadcrumbs__ContentWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 0;
    background: transparent;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 0.4rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: background;
    transition: background 200ms cubic-bezier(0.64, 0, 0.35, 1);
}

.Polaris-Breadcrumbs__Icon {
    width: 2rem;
    height: 2rem;
    margin: 0;
}

.Polaris-Icon {
    display: block;
    height: 2rem;
    width: 2rem;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.Polaris-Icon__Svg,
.Polaris-Icon__Img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.Polaris-Breadcrumbs__Icon svg {
    fill: rgba(92, 95, 98, 1);
}

.Polaris-Header-Title {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
}

.Polaris-Header-Title__SubTitle {
    margin-top: 0.8rem;
    color: rgba(109, 113, 117, 1);
}

.tab-content.current .Polaris-Page-Header--mediumTitle .Polaris-Header-Title__TitleAndSubtitleWrapper {
    padding: 0px;
    display: block;
}

.Polaris-Page-Header--mediumTitle .Polaris-Breadcrumbs__Breadcrumb:focus::after {
    content: none;
}

.whole-cover {
    background: #dce3f9;
}

.makk-page-wrapper {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
    /* overflow: hidden; */
    width: 100%;
    padding-bottom: 100px;
}

/* .makk-wrapper-card {
    background-color: #fff;
    padding: 30px 60px;
} */


/* #tab-1 .makk-wrapper-card .plan-items .card__plan {
    margin: 20px;
    border: 0.23rem solid #dcdcdc;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

.p-2 {
    padding: 2rem;
}

.card-box-shadow {
    box-shadow: 0px 0px 5px rgba(23, 24, 24, 0.05), 0px 1px 2px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(63, 63, 68, .05), 0 1px 3px 0 rgba(63, 63, 68, .15) !important;
}

/* .record--msg {
    margin-top: 18px;
} */

.record--msg-success {
    padding: 10px 100px;
    background-color: green;
    color: #fff;
    margin-top: 10px
}

.record--msg-error {
    padding: 10px 100px;
    background-color: red;
    color: #fff;
    margin-top: 10px
}

/* 
.activated__plan {
    background-color: gray !important;
} */
/* 
.pending_plan {
    background-color: #ff0000 !important;
} */

.card__plan.card-box-shadow {
    padding: 15px 0px;
}

.card__plan.card-box-shadow .dataTables_length {
    margin-left: 10px;
    margin-bottom: 10px;
}

.card__plan.card-box-shadow .dataTables_filter {
    margin-right: 20px;
    margin-bottom: 10px;
}

.card__plan.card-box-shadow .dataTables_info {
    margin-left: 20px;
    margin-top: 18px;
    padding: 0px;
}

.card__plan.card-box-shadow .dataTables_paginate {
    padding: 0px;
    margin-right: 20px;
    margin-top: 10px;
}

.d-flex.layout_and_select {
    display: flex;
    flex-direction: row;
}

.d-flex.layout_and_select .form_main_settings {
    height: fit-content;
    width: 30%;
}

.d-flex.layout_and_select #layout-reference-box {
    display: block;
    width: 50%;
    text-align: center;
    margin-left: auto;
}

.form_main_settings .field-wrapper {
    margin: 30px 0 0;
}

.form_main_settings .field-wrapper .Polaris-input input {
    width: 100%;
    margin: 0;
    padding: 0.5rem 2.8rem 0.5rem 1.2rem;
    background: transparent;
    border: 1px solid #c4cdd5;
    min-height: 3.6rem;
    border-radius: 3px;
    font-size: 14px;
}


.form_main_settings .field-wrapper .Polaris-input label {
    margin: 14px 0px 5px;
}

.Polaris-input.small_width input {
    width: 93% !important;
}

.Polaris-Label label {
    font-size: 2.6rem;
    line-height: 30px;
}

.Polaris-input.small_width label {
    margin: 12px 0px 6px;
    font-size: 1.4rem;
}

.Polaris-input.space_custom label {
    margin: 12px 0px 6px;
    font-size: 1.4rem;
}

.field-wrapper input[type="submit"] {
    background: #008060;
    border: 1px solid #008060;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.field-wrapper input[type="submit"]:hover {
    background: #008060;
    border: 1px solid #008060;
}

input:checked+.slider {
    background-color: #008060 !important;
}

.btn-primary {
    background-color: #008060 !important;
    border-color: #008060 !important;
}

.btn-primary:hover {
    background: #157347 !important;
    border-color: #146c43 !important;
}

.container.upload_image {
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: relative;
    padding: 35px 0px;
}

.container.upload_image h3 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
}

.container.upload_image .row a {
    width: fit-content;
    position: absolute;
    top: 30px;
}

.container.upload_image .row a button {
    background-color: #008060 !important;
    border: 1px solid #008060 !important;
    color: #fff;
    border-radius: 4px;
    padding: 2px 6px;
}

.container.upload_image .row a button:hover {
    background-color: #008060 !important;
    border: 1px solid #008060 !important;
}

.container.upload_image form {
    width: 80%;
    margin: auto;
    padding: 20px 0px 10px;
}


.container.upload_image form .row div:empty {
    display: none;
}

.container.upload_image form input[type="file"] {
    height: 33px;
    font-size: 16px;
}

.container.upload_image form [type="submit"] {
    background-color: #008060 !important;
    border: 1px solid #008060 !important;
    color: #fff;
    padding: 5px 20px;
    border-radius: 4px;
    text-transform: capitalize;
    margin-top: 25px;
}

.container.upload_image form [type="submit"]:hover {
    background-color: #008060 !important;
    border: 1px solid #008060 !important;
}

.card__plan.card-box-shadow .dataTables_length select:focus {
    outline: none;
    box-shadow: none;
}

.card__plan.card-box-shadow .dataTables_filter input[type="search"] {
    outline: none;
    box-shadow: none;
}

.failed_status {
    text-transform: capitalize;
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
}

.back_btn .btn-primary {
    border: 1px;
    border-radius: 4px;
    padding: 3px 8px;
}

.btn-primary.submit_form {
    border: 1px;
    border-radius: 4px;
    padding: 3px 8px;
    margin: 0px 52px;
}

form.edit_form img {
    height: auto !important;
    width: 50% !important;
}

form.edit_form img input[type="file"] {
    width: 300px;
    margin: 30px auto;
    height: 34px;
    font-size: 16px;
}

form.edit_form .image_box {
    text-align: center;
}

form.edit_form .input_box {
    margin: 20px auto;
    width: 50%;
    text-align: left;
}

form.edit_form {
    text-align: center;
}

.Polaris-DataTable.product_add_page .row .col-12:nth-child(2) {
    padding: 12px 8px;
}

.Polaris-DataTable.product_add_page .row .col-12:nth-child(2) ul {
    list-style: none;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
}

/* .Polaris-DataTable.product_add_page .row .col-12:nth-child(2) .table_wrapper {
} */

.Polaris-DataTable.product_add_page .row .col-12:nth-child(2) .table_wrapper table {
    border: none;
}

.Polaris-DataTable.product_add_page .row .col-12:nth-child(2) .table_wrapper table tbody tr th,
.Polaris-DataTable.product_add_page .row .col-12:nth-child(2) .table_wrapper table tbody tr td {
    padding: 10px 24px;
}


.btn-primary.delete_btn {
    border: 1px;
    border-radius: 4px;
    padding: 3px 8px;
}

#link-product-form h6 {
    font-size: 16px;
    text-transform: capitalize;
    margin: 22px 0px 10px;
}

#link-product-form #tagproduct {
    margin-top: 12px;
}

#layout-reference {
    width: 100%;
}

.field-wrapper.status_popup {
    width: 300px !important;
    margin: auto;
    padding: 8px;
    background: #f4f6f8;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.field-wrapper.status_popup .Polaris-Labelled__LabelWrapper {
    justify-content: center;
}

.main_heading h4 {
    font-size: 28px;
}


/* Custom CSS | Aakash Sharma */

.whole-cover .card__plan ul.tabs li.current a {
    border-bottom: 2px solid #008060;
    background: #008060;
    border-radius: 6px 6px 0px 0px;
    color: #fff;
    font-weight: 700;
}


.whole-cover .dataTables_wrapper .dataTables_length,
.whole-cover .dataTables_wrapper .dataTables_filter,
.whole-cover .dataTables_wrapper .dataTables_info,
.whole-cover .dataTables_wrapper .dataTables_processing,
.whole-cover .dataTables_wrapper .dataTables_paginate {
    color: #000;
    font-weight: 700;
    font-size: 15px;
}

.whole-cover .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.whole-cover .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background: #008060;
}

/* 27-10-2022 | Aakash Sharma | CSS */

.product-limit-box-app {
    border: 1px solid #e2e2e3;
    padding: 10px;
}

.product-limit-box-app p {
    margin: 0;
    font-size: 15px;
}

.product-limit-box-app p a {
    color: #008060;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid;
}


.Polaris-Page {
    background: #f4f6f8;
}

.Polaris-DataTable.product_add_page {
    position: relative;
    max-width: 60% !important;
    margin: auto;
}

/* 25-11-2022 */

.dashboard ul.tabs {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

ul.tabs {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

.drag-handler.ui-sortable-handle {
    cursor: grab;
    text-align: center;
}

.upgade_plan {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 25px 0px;
}

.upgade_plan h3 {
    font-size: 1.75rem;
}

.upgade_plan a {
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 300ms ease;
}

.purchase_plan a {
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 300ms ease;
}

ul.tabs {
    margin-top: 0px !important;
}

.upload_image input[type="text"] {
    height: 35px;
    border-radius: 3px;
}

.upload_image form .row {
    display: flex;
    gap: 1px;
}

.background-upload {
    background-color: #fff;
    padding: 30px 0px;
    width: 70%;
    margin: auto;
}

.btn_back {
    width: fit-content;
    background: #008060;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn_back:hover {
    color: #fff;
}

.upload_image label {
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 500;
}

.upload_image input[type="text"]:focus-visible {
    outline: none;
    box-shadow: none;
    border: 1px solid #ced4da;
}

.upload_image input[type="text"]:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ced4da;
}

.whole-cover>.card__plan {
    padding: 0.75rem 1.25rem 0px !important;
}

.card__plan:has(ul.tabs) {
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 0.75rem 1.25rem 0px;
    overflow: inherit;
    box-shadow: none;
}

.text-center {
    text-align: center;
}

table tbody tr td {
    text-align: center;
}

.back_b {
    position: absolute;
    left: 0;
}

.add_product .Polaris-Header-Title__TitleAndSubtitleWrapper {
    justify-content: center !important;
}

.editimg .input_box label {
    margin: 6px 0;
    font-size: 16px;
    font-weight: 500;
}

.tab-content input {
    outline: none;
}

.status_d {
    position: relative;
}



.paginate_button {
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: 1px solid #008060 !important;
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.paginate_button.previous {
    background-image: url(../uploads/left.png) !important;
    color: transparent !important;
}

.paginate_button.previous:hover {
    background-image: url(../uploads/left.png) !important;
    color: transparent !important;

}

.paginate_button.next {
    background-image: url(../uploads/right.png) !important;
    color: transparent !important;


}

.paginate_button.next:hover {
    color: transparent !important;
}

.paginate_button.disabled {
    opacity: 0.5;
    color: transparent !important;

}

.paginate_button.disabled:hover {
    background-color: transparent;
    color: transparent !important;

}

table#productlist {
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 20%);
    overflow: hidden;
    border-radius: 5px;
}

#productlist tr th {
    background: #f4f6f8;
}

#productlist tr:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.field-wrapper:has(input-type[submit]) {
    margin-bottom: 0;
}

.gallery-img .Polaris-Page {
    min-height: 80vh;
}

.gallery-img .purchase_plan {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 15px;
    padding: 20px 0px;
}

.purchase_plan {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 15px;
    padding: 20px 0px;
}

.settings .Polaris-Page {
    min-height: 80vh;
}

.settings .card__plan.p-2:has(.purchase_plan) {
    padding: 15px 0px !important;
    box-shadow: 0px 0px 5px rgb(23 24 24 / 5%), 0px 1px 2px rgb(0 0 0 / 15%), 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 3px 0 rgb(63 63 68 / 15%) !important;
}

.makk-page-wrapper.plan-page {
    box-shadow: none;
    max-width: 1400px;
    margin: auto;
}

.makk-page-wrapper.plan-page .makk-wrapper-card {
    background-color: transparent;
    padding-top: 0px;
}

/* New Dashboard Design */

.makk-wrapper-card .plan-items {
    width: 100%;
    margin: auto;
    display: flex;
    column-gap: 15px;
    margin-top: 0px;
    padding: 0 15px;
}


.text__excul {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

.plan_main_container.month {
    margin: auto;
}



.card__plan {
    padding: 0px;
    box-shadow: rgb(0 0 0 / 37%) 0px 0px 2px 0px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* max-width: 343px !important; */
}

.card__plan .top-sec-card {
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
    padding: 25px 35px;
    min-height: 125px;
}

.card__plan .top-sec-card::before {
    /* content: ""; */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 90%;
    bottom: 35px;
    left: 0;
    transform: scale(1.5) rotate3d(2, 1, -1, 18deg);
}





.card__plan__inner__wrapper ul li::before {
    position: absolute;
    content: " ";
    width: 16px;
    height: 16px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.card__plan__inner__wrapper ul li:nth-child(7)::before {
    background-image: url(https://websitespeedycdn.b-cdn.net/speedyweb/images/pageSpeed_insights.png);

}
.card__plan__inner__wrapper ul li:nth-child(8)::before {
    background-image: url(https://websitespeedycdn.b-cdn.net/speedyweb/images/gt_matrix.png);

}
.card__plan__inner__wrapper ul li:nth-child(6),
.card__plan__inner__wrapper ul li:nth-child(7){
    border: none !important;
}
.card__plan__inner__wrapper ul li:nth-child(7),
.card__plan__inner__wrapper ul li:nth-child(8){
    padding-left: 30px;
}

.card__plan .card__plan__button {
    border: 2px solid;
    width: fit-content;
    border-radius: 4px;
    padding: 6px 16px;
    transition: all 250ms ease;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border-color: #333;
    color: #333;
}
.contactSalesBtn {
    order: 3;
}
 .card__plan .contactSalesBtn.card__plan__button.sales {
    background: none ;
    color: #333;
    border-color: #333;
}
.card__plan .contactSalesBtn.card__plan__button.sales:hover {
    background: #333 ;
    color: #fff;
}

.card__plan .card__plan__button:hover {
    background-color: #333;
    border-color:#333;
}

.card__plan .card__plan__button span {
    transition: all 250ms ease;
}



a.card__plan__button.activated__plan {
    background: #3f51b5;
    border-color: #3f51b5;
}

.card__plan .card__plan__button span {
    /* color: #1d1d1b; */
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: all 250ms ease;
    font-weight: 500;
    width: 100%;
}
.card__plan .card__plan__button:hover span {
    color: #fff !important;
}
.subscribe_free .form-group {
    margin: 0;
    width: 100%;
}

a.card__plan__button.upgrade_plan:hover span {
    color: white;
}

.card__plan__button.activated__plan span {
    color: white;
}

.card__plan .Polaris-Button:hover span {
    color: #fff;
}

.Polaris-Button.activated__plan span {
    color: #fff;
}

.card__plan .card__plan__inner__wrapper ul {
    padding: 18px;
}

.card__plan .price-tag {
    text-align: start;
    font-weight: 500;
    color: #333;
    line-height: normal;
    display: flex;
    align-items: self-start;
    margin-top: 30px;
    flex-direction: column-reverse;
    min-height: 100.4px;
    justify-content: end;
}

.discount__price {
    display: flex;
}

.discount__price .after {
    font-size: 20px;
}

.original__price {
    font-size: 20px;
}

.original__price span {
    /* width: 32px; */
    display: inline-flex;
    /* overflow: hidden; */
}

.original__price span.year {
    display: none;
}

.discount__price .after.year {
    display: none !important;
}

.plan_main_container.year.active .discount__price .after.year {
    display: inline-flex !important;
}

.plan_main_container.year.active .discount__price .after.month {
    display: none !important;
}

.plan_main_container.year.active .original__price span.year {
    display: inline-flex;
}

.plan_main_container.year.active .original__price span.month {
    display: none !important;
}


.card__plan .price-tag .symbol:empty,
.card__plan .price-tag .after:empty {
    display: none;
}

.card__plan .price-tag .symbol {
    font-size: 40px;
    font-weight: 600;
    margin-right: 2px;
}

.card__plan .price-tag .amount {
    font-size: 40px;
    font-weight:600;
}

.card__plan .price-tag .after {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 4px;
}

.card__plan .price-tag .after .month-slash {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.card__plan .card__plan__inner__wrapper .plan-name {
    color: #333;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0px;
    text-transform: capitalize;
    
}


.card__plan__inner__wrapper ul li {
    margin: 0 0 10px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 8px 0;
    color: #333;
    text-transform: capitalize;
}
.card__plan__inner__wrapper ul li:not(:last-child) {

    border-bottom: 1px solid #00000014;

}

.Polaris-Button.activated__plan span {
    color: #fff !important;
}

.card__plan .card__plan__inner__wrapper .plan-name span {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400 !important;
    line-height: normal !important;
}

.card__plan.active .plan-name span+span {
    padding: 5px 10px !important;
    width: 122px;
    top: -38px;

}



.form-control {
    display: none !important;

}

#tab-1 .card__plan .subscription_trial_form {
    width: 100%;
    font-weight: 500;
    color: #212b36;
    row-gap: 24px;
    column-gap: 15px;
    display: flex;
    padding:0 18px;
    flex-wrap: wrap;
}

.free_trial_end {
    width: 100%;
    margin-top: 12px;
}

.top-sec-card.freebtn-active .wave {
    top: -120%;
}

.free_trial_end.d-none {
    display: none;
}

#tab-1 .slick-arrow {
    background-color: red;
    position: relative;
}


#tab-1 .slick-track {
    padding: 5PX;
}

#tab-1 .plan-page .card__plan {
    min-height: 550px;
    display: flex;
}

#tab-1 .slick-arrow::after {
    position: absolute;
    content: "" \f105"";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.tab-name.web {
    font-size: 16px;
    color: #000000;
}

.makk-page-wrapper.plan-page.plan-box.active,
.plan_main_container.active {
    margin: auto;
}

.subscribe_free {
    flex-direction: column;
}

.sub_free {
    width: 100%;
}

.card__plan .free_trial_end .card__plan__button {
    color: #fff;
    width: fit-content;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: #333333;
    cursor: pointer;
    overflow: hidden;
    border: none;
    min-width: 225px;
}

.top-subscribe.btn {
    padding: 0;
}

.card__plan .free_trial_end .card__plan__button:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.card__plan .free_trial_end .card__plan__button svg {
    margin-left: 15px;
}

.card__plan .free_trial_end .card__plan__button svg path {
    fill: #fff;
}

.card__plan .free_trial_end .card__plan__button:hover span {
    color: #1d1d1b;
}

.card__plan .free_trial_end .card__plan__button:hover svg path {
    fill: #1d1d1b;
}

.card__plan .free_trial_end .card__plan__button:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.free_trial_end span.Polaris-Button__Text {
    color: white;
}

.plans_page .pricing-tabs-menu {
    border-radius: 8px;
    padding: 10px;
    margin: 15px 0;
}


/* 12-01-2023 */

.wrpper__plan__card {
    justify-content: center;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    flex: 0 0 100%;
    margin: 0;
    margin-bottom: 0.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.label__plan__card {
    -webkit-tap-highlight-color: transparent;
}

.label__text__plan__card {
    font-size: 2.6rem;
    line-height: 30px;
    font-weight: 600;
    text-transform: initial;
    letter-spacing: initial;
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: currentColor;
    -webkit-tap-highlight-color: transparent;
}

.card__plan {
    min-height: 550px;
    display: flex;
    padding: 0px;
    box-shadow: rgb(0 0 0 / 37%) 0px 0px 2px 0px;
    border-radius: 10px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255 255 255 / 69%);
}

.card__plan__inner__wrapper {
    min-height: 245px;
    position: relative;
    background-color: transparent;
    overflow: visible;
    padding: 0;
    height: 100%;
    border-radius: 10px;

}

.card__plan__inner__wrapper ul {
    list-style: none;
}

.label__text__plan__card.medium {
    font-size: 18px;
}

.label__text__plan__card.small {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 10px;
}

.label__text__plan__card.small>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.label__text__plan__card.small>div:first-child{
    gap: 3px;
}

.label__text__plan__card.small>div i {
    font-size: 20px;
}

.label__text__plan__card.small>div span {
    line-height: normal;
}

.wrpper__plan__card.first {
    padding: 25px 0px;
}

.plans_page>.padding-top>.padding-top {
    background: #003eff1a !important;
    position: relative;
    overflow: hidden;
    padding-bottom: 30px !important;
}

/* .plans_page>.padding-top>.padding-top * {
    z-index: 2;
} */

.plans_page>.padding-top>.padding-top>.glass {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    z-index: 1 !important;
}

.plans_page>.padding-top>.padding-top>.glass:first-child{
    width: 150px;
    height: 198px;

    top: 139px;
    left: 20px;

    transform: rotate(0.968801turn);
    opacity: 0.37125;
}

.plans_page>.padding-top>.padding-top>.glass:nth-child(2) {
    width: 150px;
    height: 198px;
    bottom: 14px;
    right: 58px;
    transform: rotate(0.08turn);
    opacity: 0.37125;
}

.plans_page>.padding-top>.padding-top>.glass:nth-child(3) {
    width: 150px;
    height: 198px;
    top: -42px;
    left: 28%;
    transform: rotate(0.67turn);
    opacity: 0.37125;
}

.plans_page>.padding-top>.padding-top>.glass:nth-child(4) {
    width: 150px;
    height: 198px;
    top: 50%;
    left: 163px;
    transform: rotate(0.968801turn);
    opacity: 0.37125;
}

.plans_page>.padding-top>.padding-top>.glass:nth-child(5) {
    width: 150px;
    height: 198px;
    top: 325px;
    left: 52%;
    transform: rotate(0.968801turn);
    opacity: 0.37125;
}

.plans_page>.padding-top>.padding-top>.glass:nth-child(6) {
    width: 150px;
    height: 198px;
    top: 71%;
    left: 75%;
    transform: rotate(0.968801turn);
    opacity: 0.37125;
}

.wrpper__plan__card.second {
    color: #fff;
    /* background: #ffffff5e; */
    flex-direction: column;
    align-items: center;
    padding: 18px 0px;
    margin-bottom: 0px;
    z-index: 2;
}

.plan_main_container .wrpper__plan__card {
    background: #ffffff5e;
    padding-bottom: 20px;
}

.pricing-tabs-menu.w-tab-menu.row.monthly_tabbers {
    margin-top: 0px;
    margin-bottom: 8px;
    background: #fff;
    padding: 0px !important;
    overflow: hidden;
}

.pricing-tabs-menu.w-tab-menu.row.monthly_tabbers {
    margin-top: 0px;
    margin-bottom: 8px;
    background: #fff;
    padding: 0px !important;
    overflow: hidden;
}

.pricing-tab {
    margin: 0px;
    padding: 10px 0px !important;
    transition: all 300ms ease;
}

.pricing-tab.active {
    background: #f23640;
}

.pricing-tab.active .tab-name {
    color: #fff;
}

.free_trial_end .card__plan__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.free_trial_end .card__plan__button .card__plan__button__text__wrapper>span {
    color: #fff;
}

.wave {
    opacity: 1;
    position: absolute;
    top: -195%;
    left: -29%;
    width: 500px;
    height: 500px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 22s infinite linear;
    z-index: -1;
}

.wave.-two {
    animation: drift 30s infinite linear;
    opacity: .5;
}

_::-webkit-full-page-media,
_:future,
:root .wave {

    top: -215%;

}



.wrpper__plan__card.second {
    position: relative;
}

.no_card_r {
    position: absolute;
    right: 15px;
    bottom: 75px;
    font-size: 14px;
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #f23640 0%,
            #9c27b0 29%,
            #f23640 67%,
            #fff800 100%);
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-weight: 800;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.card__plan .subscribe_free>a {
    display: flex;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}




a.Polaris-Button.card__plan__button.free_days_s span {
    color: white;
}

#tab-1 .card__plan form {
    margin: 0;
}



#tab-1 .makk-page-wrapper.plan-page.plan-box.active .card__plan {
    min-height: fit-content !important;
    width:100%;
}

.plan-items .card__plan:first-child{
    /* grid-column: 3 / 4; */
    order: 3;
}
.plan-items .card__plan:nth-child(2) {
    order: 4;
}

.plan-items .card__plan:nth-child(3) {
   order: 2;
}
.plan-items .card__plan:nth-child(4) {
order: 1;
}

.plan__page.heading {
    position: relative;
    text-align: center;
    padding: 35px 0px;
    background: #0e0e10;
}

.plan__page.heading h1 {
    color: #fff;
    margin-bottom: 12px;
    font-size: 60px;
    line-height: 1;
    max-width: 1000px;
    margin: 0px auto 20px;
}

.plan__page.heading h2 {
    font-size: 22px;
    margin: 0px auto 12px;
    font-family: var(--body-font-family);
    font-weight: 100;
    line-height: 1.3;
    color: #fff;
}

.plan__page.heading p {
    color: #fff;
}

.button__toggle__month__year {
    position: relative;
}

.floating__other__text {
    position: absolute;
    top: -18px;
    right: -181px;
    font-family: "Caveat", cursive;
    color: #f23640;
    font-size: 22px;
    rotate: 352deg;
}

.floating__other__text svg {
    position: absolute;
    top: -4px;
    width: 100px;
    height: 100px;
    left: -42px;
    rotate: 82deg;
}

.free__tag {
    position: absolute;
    top: 30px;
    left: 6%;
    width: 120px;
    height: 120px;
    background: #f23640;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    gap: 4px;
    rotate: -15deg;
}

.free__tag span:first-child{
    font-family: var(--body-font-family);
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.free__tag span:nth-child(2) {
    font-size: 32px;
    line-height: 0.9;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--heading-font-family);
    text-transform: uppercase;
    color: #fff;
}

.free__tag span:nth-child(3) {
    font-family: var(--body-font-family);
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}


.card__plan__inner__wrapper ul li:nth-child(3)::before,
.card__plan__inner__wrapper ul li:nth-child(4)::before {
    content: none;
}


.card__plan__inner__wrapper ul li:nth-child(2)::before {
    content: none;
}

.q__icon {
    font-size: 14px !important;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 18px;
    background: #f23640;
    font-size: 14px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 22px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.q__icon:hover~.text__hidden {
    visibility: visible;
    opacity: 1;
}

.text__hidden:hover {
    visibility: visible;
    opacity: 1;
}

.text__hidden {
    z-index: 99;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all 100ms ease;
    font-size: 14px;
    background: #fff;
    text-align: initial;
    width: 260px;
    padding: 12px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    top: -75px;
    right: 48px;
    border-radius: 4px;
    text-transform: initial;
}


.popular__text {
    border-radius: 0 0 2px 0;
    padding: 0 .75rem;
    display: inline-block;
    line-height: 25px;
    font-size: 12px;
    background: #333;
    color: #ffffff;
    vertical-align: middle;
    position:absolute;
    top: 0;
}
#tab-1 .makk-page-wrapper.plan-page.plan-box.active .card__plan .popular__text {
    display: none;

}
#tab-1 .makk-page-wrapper.plan-page.plan-box.active .card__plan:first-child .popular__text {
    display: block;
}

.plan_main_container.month {
    z-index: 5;
    position: relative;
}

.plan_main_container.year {
    z-index: 5;
    position: relative;
}

.slide_btn {
    display: none;
    color: #333;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    padding: 24px 18px;
    border-top: 1px solid #00000014;
    cursor: pointer;
}

@media screen and (max-width:1000px) {

    .slide_btn {
        display: block;
    }
    .key_wrap {
        display: none;
    } 
    .flx_con {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .slide_btn svg {
        transition: all 200ms ease;
    }
    .slide_btn.open_key svg {
        rotate: -180deg;
    }

    .plan-items .card__plan{
        width: 100%;
        max-width: 100%;
    }
    .makk-wrapper-card .plan-items {
        flex-wrap: wrap;
        gap: 30px;
    
    }
    .card__plan .top__area {
        border-bottom: 1px solid #00000014;
    }
    .card__plan .card__plan__inner__wrapper ul {
        margin: 0;
    }
    .plan__page.heading h1 {
        margin: 15px !important;
    }
}


@media screen and (max-width:991px) {
    .free__tag {
        display: none;
    }

    .no_card_r {
        left: 15px;
        bottom: 45px;
        right: inherit;
    }

    .makk-wrapper-card .plan-items {
        max-width: 90%;
        padding: 0px 15px;
    }
}

@media screen and (max-width:768px) {

    .makk-wrapper-card .plan-items {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .floating__other__text {
        font-size: 16px;
    }
    .floating__other__text svg {
        top: 0;
        width: 70px;
        height: 70px;
        left: -30px;
    }
    .floating__other__text {
        right: -115px;
    }
}

@media screen and (max-width:480px) {



    .floating__other__text {
        top: -18px;
        right: -90px;
        color: #f23640;
        font-size: 14px;
    }

    .floating__other__text svg {
        top: 6px;
        width: 50px;
        height: 50px;
        left: -15px;
    }
}

.alert-center-plan .alert {
    text-align: center;
}

.plans_page .alert {
    text-align: center;
    margin-bottom: 43px;
}

/* CSS 09-05-2023 */

.card__plan:first-child.top-sec-card.freebtn-active .wave,
.card__plan:nth-child(2) .top-sec-card.freebtn-active .wave {
    top: -120%;
}



.plan__page .back__button {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #f23640;
    border: 1px solid #000;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: #fff;
    transition: all 250s;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path fill="%23ffffff" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"/><path fill="%23ffffff" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"/></svg>');
}

.plan__page .back__button:hover {
    filter: invert(1);
}

.free_trial_end .card__plan__button {
    padding: 0;
}


.card__plan .top__area {
    padding: 35px 0px 55px !important;
    align-items: self-start;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.card__plan .top__area .area-one {
    display: none;
}

.card__plan .top__area .area-two {
    display: none;
}

.card__plan .top__area .area-one::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50px;
    rotate: -7deg;
}




.card__plan .top__area h4 {
    order: 1;
    font-family: var(--heading-font-family);
    text-transform: capitalize;
    letter-spacing: 0.8px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    z-index: 1;
    text-align: center;
    margin: auto;
    padding: 0 18px;
    border-radius: 60px;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    text-transform: uppercase;
}

.price__changed {
    padding-left: 32px;
}

.price__changed>div {
    font-size: 13px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
}

.price__changed>div:first-child{
    flex-direction: column;
    gap: 0px;
    align-items: baseline;
}

.price__changed>div>span {
    font-size: 35px;
    font-weight: 700;
}

.price__changed>div>span>cs {
    font-size: 25px;
    text-transform: lowercase;
}


.price__changed>div:nth-child(2) {
    margin-top: 10px;
}


.price__changed>div>span.main_p {
    font-size: 15px;
    text-decoration: line-through;
    font-weight: 400;
    display: none;
}

.price__changed>div>span.d-price {
    font-size: 18px;
    display: none;
}

.card__plan .price-tag {
    z-index: 2;
    order: 2;
}

.price-tag .discount__price,
.price-tag .original__price,
.card__plan__inner__wrapper .top-sec-card,
.card__plan__inner__wrapper>ul {
    display: none;
}

.plan_main_container.month .price-tag .price__changed {
    display: none;
}

.plan_main_container.month .price-tag .discount__price,
.plan_main_container.month .price-tag .original__price {
    display: flex;
    align-items: baseline;
}

.plan_main_container.month .price-tag .discount__price * {
    font-weight: 600;
}

.plan_main_container.month .price-tag .original__price * {
    font-weight: 600;
}

.plan_main_container .price-tag {
    width: 100%;
    padding: 0px 18px;
}



.plan_main_container .top__area .top-subscribe.btn {
    display: none;
}

.card__plan .key__points {
    display: grid;
    grid-template-rows: auto auto;
    position: relative;
}



/* CSS 30-08-2023 */

.plan_main_container.year .other.card__plan .top__area .price__changed {
    display: none;
}

.plan_main_container.year .other.card__plan .top__area .discount__price {
    display: block !important;
    font-weight: 600;
    order: 2;
}

.plan_main_container.year .other.card__plan .top__area .discount__price .amount {
    font-weight: 600;
}

.plan_main_container.year .other.card__plan .top__area .discount__price .symbol {
    font-weight: 600;
}

.plan_main_container.year .other.card__plan .top__area .discount__price .after {
    font-weight: 600;
}

.plan_main_container .other.card__plan .top__area .original__price {
    display: block !important;
    order: 1;
    position: relative;
    color: #515151;
}

/* .plan_main_container.year .other.card__plan .top__area .original__price::before {
    content: "";
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    width: 80%;
    height: 2px;
    background-color: #515151;
} */



.other.card__plan .top__area .text__paid__anu {
    display: none;
}

.plan_main_container.year .other.card__plan .top__area .text__paid__anu {
    display: block !important;
    text-transform: capitalize;
    font-size: 14px;
    order: 3;
}

.plan_main_container.year .other.card__plan .top__area .price-tag {
    flex-direction: column;
}

.plan-items .other.card__plan:nth-child(3) .top__area .original__price::before {
    content: none;
}


/* 03-11-23 start  */
.subscribe_free {
    position: relative;
    top: 24px;
}










/* 03-11-23 end  */


@media (max-width:1375px) {
    .plan__page.heading h1 {
        margin: 0px 215px 10px;
    }
}

.card__plan .top__area .free_trial_end {
    order: 4;
    padding-left: 30px;
    position: relative;
    top: 60px;
}




.card__plan:nth-child(4) .top__area .original__price::before{
    content: none !important;
}

.alert-dismissible .close {
    top: 46% ;
    transform: translateY(-50%) ;
}
.card__plan__inner__wrapper ul li br {
    display: none;
}
.card__plan__inner__wrapper ul p{
    margin: 0;
}
.sp_first {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    order: 3;
    padding: 0 18px;
    margin-top: 24px;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    min-height: 40.73px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
p.sub_hs {
    order: 2;
    margin: 5px  0 0;
    padding: 0 18px;
    font-weight: 500;
    color: #515151;
    line-height: 1.4;
    min-height: 45px;
}

.plan_tgg span {
    position: relative;
    z-index: 1;
    line-height: 1;
    font-weight: 600;
    font-size: 14px;
    border-radius: 40px;
    height: 100%;
    color: #fff;
    padding: 12px 24px 13px;

}
.check-box.plan_tgg {
    background: #f23640;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 6px;
    border-radius: 40px;

}
.check-box.plan_tgg .monthly {
    background: #fff;
    color: #333;
    }
.check-box.plan_tgg:has(input:checked) .monthly {
background: none;
color: #fff;
}

.check-box.plan_tgg:has(input:checked) .yearly {
    background: #fff;
    color: #333;
}
.check-box.plan_tgg:has(input:checked) {
    background: #f23640;
}
.check-box.plan_tgg:has(input:checked) .yearly {
background: #fff;
color: #333;
}  



#check_box_plan {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    opacity: 0;
    z-index: 2;
    transition: 0.4s;
}

.card__plan__button+.card__plan__button.start-trial-button {
    border: 2px solid;
    background: none;
    color: #333;
}
.card__plan__button+.card__plan__button.start-trial-button span{
    color: #333;

}
.card__plan__button+.card__plan__button.start-trial-button:hover {

    background: #333;

}
.pr_sd {
    order: 4;
    margin-top: 20px;
    width: 100%;
}
.selectPricing {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background: #edf1fd;
    border: 1px solid #333;
    outline: none;
    text-transform: capitalize;
    max-width: 375px;
}
.plan-items .card__plan:nth-child(2) .sp_first{

    display: none;
}
.subscription_trial_form .pr_sd {
    margin: 0;
}
.plan_main_container.year .other.card__plan:nth-child(2) .top__area .original__price,
.plan_main_container .card__plan:nth-child(2) .top__area .original__price {

display: none !important;
}
.card__plan .card__plan__button {
    width: calc(50% - 8px);
    max-width: 180px;
    background: #f23640;
    border-color: #f23640;
    color: #fff;
}

.crnt_pln{
    display: none !important;
}

.plan-items .card__plan:nth-child(2) .sp_first{

    display: none;
}


.plan_main_container.year .other.card__plan .top__area .text__paid__anu{
    display: none !important;
}

.plan__switch {
    margin: 25px 0px;
}

.plan-items .card__plan:nth-child(4) .card__plan__button {
    background: none;
    border-color: #333;
    transition:all 250ms ease;
}   

.plan-items .card__plan:nth-child(4) .card__plan__button span{
    color: #333 !important;
}
.plan-items .card__plan:nth-child(4) .card__plan__button:hover{
  outline: 1px solid #f23640;
  border-color: #f23640;

}

.container-fluid .row .col-md-3.border:nth-child(-n+3) {
    outline: 2px solid #f23640;
}

/* .container-fluid .row .col-md-3.border:nth-child(n+3) {
    outline: 2px solid #0f5132;
} */

.plan__page .free__tag {
    display: none;
}
