/* @font-face {
    font-family: 'poppinsregular';
    src: url('./fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('./fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('./fonts/poppins-semibold-webfont.woff2') format('woff2'),
        url('./fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

/* body {
    font-family: 'poppinsregular' !important;
} */
body {
    background: #edf0f2;
    margin: 0;
}

/* Login Forms */
.customize_wrapper,
.singup_wrapper {
    width: 100%;
    min-height: 100vh;
    /* background-image: url(../img/form-bg.jpg); */
    /* background-position: center; */
    /* background-color: #00000030; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-blend-mode: darken; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.singup_container {
    display: flex;
    padding: 0;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.signup {
    width: 50%;
    background: WHITE;
    padding: 20px 30px;
    padding-bottom: 10px;

}

.signup .form-control {
    padding: 0.3rem 0.75rem;
    background: transparent;
    border: 1px solid red;
    border-style: none none solid none;
    border-radius: 0;
    outline: none;
    height: auto;
    /* min-height: 40px; */
}

.signup .form-control:focus {
    box-shadow: none;
}

.signup form label {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    /* font-family: 'poppinssemibold'; */
    top: 2px;
    position: relative;
}


.signup h1 {
    /* text-align: center; */
    font-size: 25px;
    font-weight: 600;
    color: BLACK;
    margin: 30px 0 0px;
}

.signup .form-group {
    margin-bottom: 10px;
}

.signup .btn-primary {
    width: 100%;
    margin: 10px 0;
    background: red;
    border: none;
    font-size: 18px;
    transition: all 300ms ease;
    font-weight: 400;
    box-shadow: 0 !important;
    box-shadow: none;
}


.signup .btn-primary:hover {
    background-color: black;
}

.login_img {
    width: 50%;
    overflow: hidden;
    position: relative;
}

.img_arapper {
    width: 100%;
    height: 100%;
}

.login_img img {
    width: 100%;
    height: 100%;
    /* display: block; */
    /* height: 100%; */
    object-fit: cover;
}

.signup_logo {
    margin-bottom: 40px;
    text-align: center;
    width: 50%;
    margin: 0 auto 20px;
}

.signup_logo img {
    width: 100%;
}

#confirm-email-form h3 {
    font-size: 16px;
}


form#regForm {
    background: white;
    border-radius: 16px;
}

form#regForm label {
    transition: all 300ms ease;
}

form#regForm label:not(:first-child):hover {
    background: #2f4858d6;
    color: white;
    border-color: #2f4858d6;
}

form#regForm label:has(input[type="radio"]:checked) {
    background-color: #2F4858;
    border-color: #2F4858;
    color: white;
}

form#regForm .form-control {
    cursor: pointer;
    background: transparent;
    /* color: white; */
    border: 1px solid #2F4858;
}

form#regForm .form-control:focus {
    box-shadow: none;
    outline: none;
}

form#regForm button {
    background: red;
    padding: 6px 20px;
    border-radius: 5px;
    transition: all 300ms ease;
}

form#regForm button:hover {
    background: black;
}

form#regForm .form-control input[type=radio] {
    display: none;
}

form#regForm .paginations_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

.customize_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: #003eff1a;
    padding: 15px;
}

form#regForm .step {
    opacity: 0.5;
    background: #ff0000b0;
}

form#regForm .step.active {
    opacity: 1 !important;

}

.form_topHead {
    /* color: white; */
    text-align: center;
}

.form_topHead h3 {
    font-size: 36px;
    font-weight: 600;
    /* font-family: 'poppinssemibold'; */
}

.form_topHead p {
    margin: 0px;
}

#regForm .tab label:first-child {
    margin-bottom: 40px;
    /* color: white; */
    text-align: center;
    font-size: 20px;
    width: 100%;
    /* font-family: 'poppinssemibold'; */
}

.glass {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
}


.glass:nth-child(1) {
    width: 150px;
    height: 198px;
    top: 14px;
    left: 163px;
    transform: rotate(0.968801turn);
    opacity: 0.37125;
}

.glass:nth-child(2) {
    width: 199px;
    height: 168px;
    top: 80px;
    left: 650px;
    transform: rotate(0.341471turn);
    opacity: 0.4179;
}

.glass:nth-child(3) {
    width: 148px;
    height: 135px;
    top: 289px;
    left: 188px;
    transform: rotate(0.332708turn);
    opacity: 0.24975;
}

.glass:nth-child(4) {
    width: 161px;
    height: 107px;
    top: 284px;
    left: 1054px;
    transform: rotate(0.220488turn);
    opacity: 0.215337;
}

.glass:nth-child(5) {
    width: 188px;
    height: 74px;
    top: 620px;
    left: 45px;
    transform: rotate(0.309384turn);
    opacity: 0.1739;
}

.glass:nth-child(6) {
    width: 150px;
    height: 200px;
    top: 14px;
    left: 1219px;
    transform: rotate(61deg);
    opacity: 0.37125;
}

.glass:nth-child(7) {
    width: 150px;
    height: 200px;
    top: 50px;
    left: 1219px;
    transform: rotate(61deg);
    opacity: 0.37125;
}

.glass:nth-child(8) {
    width: 117px;
    height: 247px;
    top: 409px;
    left: 1219px;
    transform: rotate(104deg);
    opacity: 0.37125;
}

.glass:nth-child(7) {}

.glass:nth-child(8) {}

.glass:nth-child(9) {}

.glass:nth-child(10) {}


#regForm .website_url label,
.shopify-domain-input label {
    margin-bottom: 10px !important;
    text-align: left !important;
}

.form-group.website_url {
    margin-bottom: 40px;
}

.form-group.website_url .form-control,
.form-group.shopify-domain-input .form-control {
    margin-bottom: 10px;
    cursor: initial !important;

}

.form-group input::placeholder {
    font-size: 14px;
}


.form-group a.login_btns {
    border: 2px solid red;
    color: red;
    padding: 2px 12px;
    border-radius: 4px;
    margin-left: 10px;
    text-decoration: none;
    transition: all 300ms ease;
}

.form-group a.login_btns:hover {
    background: black;
    color: white;
    border: 2px solid black;

}

.form-group .already_ac {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.signup form .form-group:nth-last-child(1) {
    margin-bottom: 0px;
}

.signup form #message h3 {
    font-size: 12px;
    column-span: all;
    margin-bottom: 4px;
}

.signup form #message #letter,
.signup form #message #capital,
.signup form #message #number,
.signup form #message #length {
    padding: 0px 0px 0px 10px;
    font-size: 12px;
    margin: 0px;
}

.signup form #message #letter::before,
.signup form #message #capital::before,
.signup form #message #number::before,
.signup form #message #length::before {
    left: -10px;
}

/* .signup form .form-group:nth-child(2) {
    margin-bottom: 12px
} */

.signup form #message {
    padding: 7px 10px !important;
    border-radius: 4px !important;
    column-count: 2;
    /* position: absolute;
    top: 42%;
    right: -88px; */
}

.plans_page .card__plan .subscribe_free>a {
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}

.billing__address__page {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #003eff1a;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.billing__address__page h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

/* .billing__address__page #biling-form {
    display: grid;
    grid-template-columns: 1fr;
    background: #f2f2f2;
    max-width: 700px;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
    min-width: 500px;
    background: #fff;
} */

.billing__address__page #biling-form>div {
    display: flex;
    flex-direction: column;
}

.billing__address__page #biling-form>div>label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    /* font-family: 'poppinssemibold'; */
}

.billing__address__page #biling-form>div>input {
    height: 38px;
    border-radius: 3px;
    padding: 0px 10px;
    border: 1px solid #aaa;
}

.billing__address__page #biling-form>div>select {
    height: 38px;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
    padding: 0px 10px;
}

.billing__address__page #biling-form>div>select:focus,
.billing__address__page #biling-form>div>select:focus-visible,
.billing__address__page #biling-form>div>select:focus-within {
    outline: none;
    box-shadow: none;
}

.billing__address__page #biling-form>div>input:focus,
.billing__address__page #biling-form>div>input:focus-visible,
.billing__address__page #biling-form>div>input:focus-within {
    outline: none;
    box-shadow: none;
}

.billing__address__page #biling-form>div>input[type="submit"] {
    background: #f23640;
    border: 1px solid #f23640;
    color: #fff;
    font-size: 16px;
    transition: all 300ms ease;
    cursor: pointer;
}

.billing__address__page #biling-form>div>input[type="submit"]:hover {
    background: #000;
    border: 1px solid #000;
}

.form_hs {
    width: 40%;
    background: white;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    position: inherit;
}

.btn.btn-primary {
    background: red;
    border-color: red;
}

.btn-primary:hover {
    background: black;
    border-color: black;
    color: white;
}

.row.sign_up_log {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

a.btn.btn-primary.sign_up {
    border: 2px solid black;
    background: transparent;
    color: black;
    width: 48%;

}

a.btn.btn-primary.sign_up:hover {
    background: black;
    color: white
}

a.btn.btn-primary.log_in {
    background: transparent;
    border: 2px solid red;
    color: black;
    width: 48%;
}

a.btn.btn-primary.log_in:hover {
    background: red;
    color: white;
}

.pass_logo {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 30px;
}

.form_h_submit {
    text-align: center;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #ffffffb5;
    color: white;
    font-size: 22px;
    z-index: 4;
}

.loader_s {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.loader_s img {
    width: 100px;
    height: 100px;
}

.form_h {
    background: white !important;
    width: 50%;
    margin: auto;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 8px;
    padding: 30px;
}

.form_h h3 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

#biling-form {
    margin: 0;
}

.singup_wrapper.customize_wrapper {
    padding: 8px 0;
}

div#rcaptcha {
    margin-top: 15px;
}

.shopify_pop svg {
    width: 20px;
    height: 20px;
    fill: red;
    cursor: pointer;
    margin-left: 5px;
}

.shopify_pop_wrap {
    position: fixed;
    top: 0;
    left: 0;
    /* padding: 100px; */
    background: #00000082;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.shopify_pop_ss {
    width: 60%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px auto 0;

}

.shopify_pop_ss img {
    width: 100%;
    height: 100%;
}

.shopify_pop_wrap svg {
    position: absolute;
    top: 0;
    right: -40px;
    width: 30px;
    height: 30px;
    fill: #fff;
    cursor: pointer;
}

ul.stepper.stepper-horizontal {
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.stepper_wrapper {
    width: 70%;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 15px;
    position: relative;
}

li.steps a {
    display: flex;
    flex-direction: row;
    gap: 0px;
    text-decoration: none;
}

.stepper-horizontal li.steps a span.circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 5px solid #50909436;
    color: #212529;
    font-weight: bold;
    transition: all 600ms ease;
    color: #5090949e;
}

.complete .circle {
    background-color: #27ae60;
    border-color: #27ae60 !important;
    color: white;
    transition: all 600ms ease;

}

.step_name_s {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 90px;
}

li.steps {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.circle svg {
    display: none;
}

.steps.complete .circle svg {
    display: block;
    fill: #fff;
    transition: all 600ms ease;

}

.steps.complete .circle .step_no {
    display: none;
    transition: all 600ms ease;

}

.step_fill_s {
    width: 55px;
    height: 5px;
    background: #50909436;
    display: block;
    border-radius: 5px;
}

.steps .step_fill_s span {
    display: block;
    width: 0;
    height: 100%;
    background: #27ae60;
    transition: all 600ms ease;
    border-radius: 5px;


}

.steps.complete .step_fill_s span {
    width: 100%;
}

.steps span.label {
    font-weight: 500;
    color: #5090949e;
    transition: all 600ms ease;
}

.steps.complete span.label {
    color: #27ae60;
}

.step_fill_sc {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

select#country_code,
select#Country {
    cursor: pointer;
    display: block;
    height: 35px;
    background: #fff;
    -webkit-appearance: none;

}

.for__arrow:has(#country_code),
.for__arrow:has(#Country) {
    position: relative;
}

.for__arrow:has(#country_code)::after,
.for__arrow:has(#Country)::after {
    content: "";
    position: absolute;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000' height='800px' width='800px' version='1.1' id='Layer_1' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cpath id='XMLID_225_' d='M325.607 79.393c-5.857-5.857-15.355-5.858-21.213 0.001l-139.39 139.393L25.607 79.393 c-5.857-5.857-15.355-5.858-21.213 0.001c-5.858 5.858-5.858 15.355 0 21.213l150.004 150c2.813 2.813 6.628 4.393 10.606 4.393 s7.794-1.581 10.606-4.394l149.996-150C331.465 94.749 331.465 85.251 325.607 79.393z'/%3E%3C/svg%3E");
    background-size: 100%;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
}

select {
    font-size: 14px !important;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input:autofill,
select:autofill {
    background: #fff;
}

input:-webkit-autofill,
select:-webkit-autofill {
    background: #fff;
}


/* CSS 03-04-2023 */

.logo__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 100%;
    margin: auto;
    /* padding: 15px; */
    gap: 0px;
    /* height: 110px; */
    overflow: hidden;
    height: 100%;
    background: #ffffff00;
    backdrop-filter: blur(1px);
}

.logo__wrapper .top__sec {
    background: #ffffff9e;
    backdrop-filter: blur(3px);
    width: 100%;
    display: flex;
    align-items: center;
    height: 185px;
}

.logo__wrapper .review {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(4px);
    padding: 35px;
    margin-top: auto;
    display: block;
    margin-bottom: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    position: relative;
}


.logo__wrapper .review svg {
    position: absolute;
    width: 46px;
    left: -30px;
    rotate: -2deg;
    top: 0;
    opacity: 0.7;
}

.logo__wrapper .review p {
    margin: 0px;
}

.logo__wrapper .review p.stats,
.logo__wrapper .review p.name,
.logo__wrapper .review p.website,
.logo__wrapper .review p.location,
.logo__wrapper .review p.designation {
    font-weight: 600;

}

.logo__wrapper .review p.name {
    margin: 8px 0px 0px;
    font-weight: 700;
}

.logo__wrapper .review p.website a {
    color: #212529;
    text-decoration: underline;
}

.logo__wrapper .review p.website,
.logo__wrapper .review p.location {
    font-size: 14px;
}

.pos_rel {
    position: relative;
    padding-left: 35px;
}

.pos_rel>img {
    position: absolute;
    width: 24px;
    left: 0;
    object-fit: contain;
    top: -4px;
    rotate: 8deg;
}

.logo__wrapper .review p.stats {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}


.logo__wrapper .text__area h4 {
    font-size: 18px;
    margin: 0px 0px 6px;
}

.logo__wrapper .text__area p {
    margin: 0px;
    line-height: 1.2;
    font-size: 16px;
}


.logo__wrapper .text__area {
    width: 80%;
}


.nice-select,
.nice-select.open .list {
    width: 100%;
    /* width: 325px; */
    position: relative;
    border-radius: 8px;

}

.nice-select .list::-webkit-scrollbar {
    width: 0
}

.nice-select .list {
    margin-top: 52px;
    /* top: 100%; */
    border-top: 0;
    border-radius: 0 0 5px 5px;
    max-height: 193px;
    overflow-y: scroll;
    /* padding: 52px 0 0; */
    display: none;
    position: absolute !important;
    background: #ffffff;
    /* backdrop-filter: blur(5px); */
    border-radius: 0px !important;
    z-index: 10;
    padding: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nice-select.open .list {
    display: block;
}

.nice-select.has-multiple {
    white-space: inherit;
    height: auto;
    padding: 7px 12px;
    min-height: 53px;
    line-height: 22px
}

.nice-select.has-multiple span.current {
    border: 1px solid #CCC;
    background: #EEE;
    padding: 0 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 3px;
    margin-right: 3px
}

.nice-select.has-multiple .multiple-options {
    display: block;
    line-height: 37px;
    margin-left: 30px;
    padding: 0
}

.nice-select .nice-select-search-box {
    display: none;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    margin-top: 5px;
    /* top: 100%; */
    /* left: 0; */
    z-index: 8;
    padding: 5px;
    background: #ffffff;
    /* backdrop-filter: blur(5px); */
    opacity: 1;
    pointer-events: none;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 0 1px rgba(68, 88, 112, .11);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(.75) translateY(-21px);
    -ms-transform: scale(.75) translateY(-21px);
    transform: scale(.75) translateY(-21px);
    -webkit-transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out
}

.nice-select .nice-select-search {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 100% !important;
    min-height: 36px;
    line-height: 22px;
    height: auto;
    outline: 0 !important
}

.nice-select.open .nice-select-search-box {
    display: block;
    opacity: 1;
    z-index: 15;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0)
}

.remove:hover {
    color: red
}

.nice-select>span.current {
    width: 100%;
    background: transparent;
    color: var(--color-body);
    border: none;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 35px;
    overflow: hidden;
    padding: 0rem 0.75rem;
}


.nice-select>span.current:focus-visible {
    outline: none;
}

.nice-select .list li {
    font-family: var(--heading-font-family);
    /* height: 32px; */
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #dcdcdc;
    transition: all 200ms ease;
    cursor: pointer;
    color: #000;
}

.nice-select .list li:hover {
    background: #0e0e10;
    color: #fff;
}

.nice-select .list li.selected {
    background: #0e0e10;
    color: #fff;
}

select#country_code+.nice-select .nice-select-search-box {
    width: 250px;
}

select#country_code+.nice-select .list {
    width: 250px;
}

.nice-select {
    padding: 0px !important;
}


.signup p.heading__subtext {
    margin: 0px 0px 20px;
}



/* CSS 04-04-2023 */

.no-click {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0.5;
}


/* CSS 07-04-2023 */

/* .other-platform-input {
    position: relative;
}

.other-platform-input::before {
    content: "";
} */

/* 12-9-23 */

.container.singup_container.basic__details.unsubscribe .basic__details__form .reason {
    margin: 20px auto !important;
    max-width: 400px;
}

.container.singup_container.basic__details.unsubscribe .basic__details__form .no_unsubscribe {
    display: block;
    border: 2px solid;
    max-width: 400px;
    margin: 20px auto 0;
}

.container.singup_container.basic__details.unsubscribe .basic__details__form .reason textarea {
    border-radius: 5px;
}

.container.singup_container.basic__details.unsubscribe .basic__details__form button[name="unsubscribed"] {
    max-width: 400px;
    display: block;
    margin: 0 auto !important;
}

.container.singup_container.basic__details.unsubscribe .basic__details__form .no_unsubscribe:hover {
    background: #000;
    color: #fff;
    border: 2px solid #000;
}


@media screen and (max-width: 991px) {
    .login_container .login_img {
        display: none;
    }

    .form-wrapper.right_wrapper {
        width: 100%;
        max-width: initial;
    }

    .singup_container .login_img {
        display: none;
    }

    .singup_container .signup {
        width: 100%;
    }

    .stepper_wrapper {
        width: 100%;
    }

    #regForm {
        width: 100% !important;
    }

    .shopify_pop_ss {
        width: 90%;
        gap: 50px;
        justify-content: center;
    }

    .shopify_pop_ss img {
        height: auto;
    }

    .shopify_pop_wrap svg {
        top: 120px;
        right: 0px;
    }
}


@media screen and (max-width: 768px) {

    .step_name_s {
        min-width: 60px;
    }

    .step_fill_s {
        width: 30px;
    }

    .singup_wrapper.customize_wrapper {
        padding: 15px;
    }

    .login_img {
        display: none;
    }

    .signup {
        width: 100%;
        padding: 15px;
    }

    .form-group a.login_btns {
        font-size: 13px;
        font-weight: 500;
        padding: 0px 12px 3px;
    }

    span#erromsgs {
        font-size: 12px;
    }

    select#country_code+.nice-select .nice-select-search-box {
        width: 100%;
    }

    select#country_code+.nice-select .list {
        width: 100%;
    }
}



@media screen and (max-width: 991px) {
    .login_container .login_img {
        display: none;
    }

    .form-wrapper.right_wrapper {
        width: 100%;
        max-width: initial;
    }

    .singup_container .login_img {
        display: none;
    }

    .singup_container .signup {
        width: 100%;
    }

    .stepper_wrapper {
        width: 100%;
    }

    #regForm {
        width: 100% !important;
    }

    .shopify_pop_ss {
        width: 90%;
        gap: 50px;
        justify-content: center;
    }

    .shopify_pop_ss img {
        height: auto;
    }

    .shopify_pop_wrap svg {
        top: 120px;
        right: 0px;
    }
}


@media screen and (max-width: 768px) {

    .step_name_s {
        min-width: 60px;
    }

    .step_fill_s {
        width: 30px;
    }

    .singup_wrapper.customize_wrapper {
        padding: 15px;
    }

    .login_img {
        display: none;
    }

    .signup {
        width: 100%;
        padding: 15px;
    }

    .form-group a.login_btns {
        font-size: 13px;
        font-weight: 500;
        padding: 0px 12px 0px;
    }

    span#erromsgs {
        font-size: 12px;
    }
}


@media screen and (max-width: 480px) {
    /* CSS 17-03-2023 */

    .signup form .form-group:nth-last-child(1) .row:nth-child(1) .col-6 {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 14px;
    }

    .signup form .form-group>.contact__group .row .col-4 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .signup form .form-group>.contact__group .row .col-8 {
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 5px;
    }

    label:empty {
        display: none;
    }
}

.opt__wrapper {
    display: flex;
    gap: 10px;
}

.container.singup_container.basic__details {
    width: 600px;
    overflow: visible;
}

.basic__details .signup {
    width: 100%;
    padding: 35px 30px;
    border-radius: 12px;
}

.basic__details__form .row.flex-col {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
}

.container.singup_container.basic__details .signup_logo img {
    width: 225px;
}

.basic__details .signup form .form-group>.form-group:nth-last-child(1) {
    margin-top: 35px;
}

.basic__details .signup form .form-group:nth-last-child(1) button {
    margin: 0px;
}

.container.singup_container.basic__details h2 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-bottom: 18px;
}

.signup form .form-group>.form-group:nth-child(1) {
    margin-bottom: 18px;
}

.plan__page.heading+.alert {
    text-align: center;
}

.basic__details__form .form-group>.form-group {
    margin-bottom: 35px;
}

.basic__details__form .row.flex-col>.col-12:nth-child(1)>label {
    margin-bottom: 10px;
}

.basic__details__form .row.flex-col>.col-12:nth-child(1) .form-check input {
    cursor: pointer;
    font-weight: normal;
    opacity: 0;
    position: relative;
    left: 27px;
    height: 20px;
    width: 20px;
    z-index: 4;
    display: block;
}

.basic__details__form .row.flex-col>.col-12:nth-child(1) .form-check input+.check {
    border: 1px solid #333;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.basic__details__form .row.flex-col>.col-12:nth-child(1) .form-check input:checked+.check {
    width: 20px;
    height: 20px;
    background-color: #dadadb;
    border-color: #dadadb;
    position: relative;
}

.basic__details__form .row.flex-col>.col-12:nth-child(1) .form-check input:checked+.check::before {
    content: "";
    width: 33px;
    display: inline-block;
    height: 45px;
    position: absolute;
    top: -13px;
    left: -7px;
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 512 512'%3E%3Cpath fill='%23F23640' d='M17.47 250.9C88.82 328.1 158 397.6 224.5 485.5c72.3-143.8 146.3-288.1 268.4-444.37L460 26.06C356.9 135.4 276.8 238.9 207.2 361.9c-48.4-43.6-126.62-105.3-174.38-137z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.basic__details__form .row.flex-col>.col-12:nth-child(1) .form-check {
    display: flex;
    align-items: end;
    padding-left: 0px;
    gap: 8px;
}

.basic__details__form .row.flex-col>.col-12:nth-child(1) .form-check:nth-child(2) {
    margin-bottom: 5px;
}

.basic__details__form .row.flex-col>.col-12:nth-child(1) .form-check label {
    cursor: pointer;
    font-weight: normal;
}

.singup_container.will_wait {
    width: 545px;
}

.singup_container.will_wait .signup {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 25%, rgb(215 224 243) 100%);
}

.singup_container.will_wait .signup {
    width: 100%;
}

.singup_container.will_wait .signup_logo img {
    max-width: 245px;
}

.social__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.singup_container.will_wait .signup .form-group br {
    display: none;
}

.singup_container.will_wait .signup .form-group a {
    color: #212529;
    text-decoration: underline;
    border-bottom: 2px solid transparent;
    transition: all 50ms ease;
}

.singup_container.will_wait .signup .form-group a:hover {
    border-bottom: 2px solid #212529;
    text-decoration: none;
}

.singup_container.will_wait .signup>.form-group>.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    width: fit-content;
    margin: auto;
}

.self__install__or__not>.form-group>.flex-col {
    margin-bottom: 25px;
    margin-top: 10px;
}

.self__install__or__not>.form-group>.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.self__install__or__not>.form-group>.form-group br {
    display: none;
}

.basic__details__form .row.flex-col .form-check {
    position: relative;
    display: flex;
    padding-left: 0px;
    align-items: end;
    gap: 10px;
    margin-left: -6px;
}

/* CSS 20-04-2023 */

.basic__details__form select#country_code+.nice-select>ul.list {
    max-height: 80px;
}

/* CSS 26-04-2023 */

#useotp {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

#useotp>#useotp_Text {
    border: 1px solid;
    display: inline-block;
    padding: 4px 18px;
    font-size: 20px;
    border-radius: 4px;
    background-image: linear-gradient(45deg, black, #f00);
    background-size: 300%;
    color: #fff;
    animation: bg-animation 10s infinite ease alternate;
    position: relative;
    cursor: pointer;
}

@keyframes bg-animation {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

#copy_status {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 8px;
    background: black;
    font-size: 13px;
    font-weight: 400;
    padding: 4px 8px 6px;
    right: -88px;
    line-height: 1;
    transition: all 300ms ease;
    border-radius: 3px;
}

#copy_status.slide {
    visibility: visible;
    opacity: 1;
    right: -64px;
}

#copy_status::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 46%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: black;
    rotate: 45deg;
}

#regForm .tab:nth-child(3) .other-platform-input-custom:nth-last-child(3) {
    margin-bottom: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* CSS 10-05-2023 */

.container.singup_container.basic__details.unsubscribe .basic__details__form {
    text-align: center;
}

.container.singup_container.basic__details.unsubscribe h2 {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}

.container.singup_container.basic__details.unsubscribe p {
    margin: 0px;
    color: #000;
    opacity: 0.7;
}

.container.singup_container.basic__details.unsubscribe .basic__details__form .row.flex-col {
    margin-bottom: 0px;
}

.container.singup_container.basic__details.unsubscribe .signup {
    padding: 50px 30px;
}

.container.singup_container.basic__details.unsubscribe {
    width: 700px;
}

.container.singup_container.basic__details.unsubscribe .signup_logo {
    margin: 0 auto 25px;
}

.customize_wrapper .alert__wrapper .alert {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}

/* CSS 14-09-2023 */

.customize_wrapper.new__page .stepper .steps:nth-last-child(1) .step_fill_sc {
    display: none;
}

.customize_wrapper.new__page form#regForm .form-control {
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: inherit;
    margin: 0;
}

.customize_wrapper.new__page form#regForm .other-platform-input .form-control,
.customize_wrapper.new__page form#regForm .other-platform-input-custom .form-control,
.customize_wrapper.new__page form#regForm .other-input-data .form-control {
    border: 1px solid #2F4858;
    width: 100%;
    margin-top: 15px;
}

.customize_wrapper.new__page form#regForm .form-control input[type="radio"] {
    cursor: pointer;
}

.customize_wrapper.new__page form#regForm .form-control input[type="radio"] {
    display: none;
}

.customize_wrapper.new__page form#regForm label:has(input[type="radio"]:checked) {
    background-color: transparent;
    color: #495057;
}

.customize_wrapper.new__page form#regForm label:not(:first-child):hover {
    background: none;
    color: #495057;
}

.customize_wrapper.new__page form#regForm label:has(input[type="radio"]:checked) input {
    background-color: transparent;
    color: #495057;
}

.customize_wrapper.new__page .other-platform-input-custom input,
.customize_wrapper.new__page .other-platform-input input {
    border: 1px solid #2f4858 !important;
}

.customize_wrapper.new__page .website_url input[type="url"] {
    border: 1px solid #2F4858 !important;
}

.customize_wrapper.new__page form#regForm .form-control input[type="radio"] {
    position: relative;
    top: 1px;
    width: 15px;
    height: 15px;
    accent-color: #f23640;
}

.customize_wrapper.new__page form#regForm .form-control.select-source {
    border: 1px solid #2F4858 !important;
    cursor: inherit;
}

.customize_wrapper.new__page #regForm .website_url label {
    margin-bottom: 25px !important;
    margin-top: 0px;
    text-align: center !important;
}

.customize_wrapper.new__page #regForm .tab label:first-child {
    margin-bottom: 20px;
}

.customize_wrapper.new__page form#regForm .form-control[name="shopify-url"] {
    border: 1px solid #2F4858 !important;
}

.customize_wrapper.new__page .form-group.website_url {
    margin-bottom: 20px;
}

.customize_wrapper.new__page .form-group.shopify-domain-input label {
    margin-bottom: 15px !important;
    text-align: center !important;
}

.customize_wrapper.new__page .form-group.other-platform-input input {
    cursor: inherit !important;
}

.customize_wrapper.new__page .form-group.other-platform-input-custom input {
    cursor: inherit !important;
}

#regForm .tab .sub1>.form-control {
    cursor: pointer !important;
}

#regForm .tab .sub1>.form-group.other-platform-input-custom {
    cursor: inherit !important;
}

#regForm .tab .sub1>.form-group.other-platform-input {
    cursor: inherit !important;
}

#regForm .tab .sub.sub1 .error {
    padding: 0.375rem 0.75rem;
}

/* CSS 07-12-2023 */

.tab .sub>.form-control {
    display: inline-flex !important;
    width: fit-content;
}

#regForm .tab label:first-child {
    text-align: start;
}

#regForm .tab .col-12 {
    padding: 0px;
    margin-bottom: 26px;
}

select#Country {
    border: 1px solid #2F4858 !important;
    cursor: pointer !important;
}

.for__arrow:has(#country_code)::after,
.for__arrow:has(#Country)::after {
    right: 10px;
}

.customize_wrapper.new__page form#regForm .form-control input[type="radio"]+.check {
    border: 1px solid #333;
    width: 18px;
    height: 18px;
    border-radius: 20px;
}

.customize_wrapper.new__page form#regForm .form-control input[type="radio"]:checked+.check::before {
    content: "";
    width: 11px;
    display: inline-block;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 2.5px;
    background: #f23640;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 512 512'%3E%3Cpath fill='%23F23640' d='M17.47 250.9C88.82 328.1 158 397.6 224.5 485.5c72.3-143.8 146.3-288.1 268.4-444.37L460 26.06C356.9 135.4 276.8 238.9 207.2 361.9c-48.4-43.6-126.62-105.3-174.38-137z'/%3E%3C/svg%3E"); */
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 23px;
}

.customize_wrapper.new__page form#regForm .form-control input[type="radio"]:checked+.check {
    width: 18px;
    height: 18px;
    background-color: #dadadb;
    border-color: #dadadb;
    position: relative;
}

.customize_wrapper.new__page #regForm .tab label:first-child {
    text-align: start !important;
}

.customize_wrapper.new__page #regForm .tab label:first-child {
    margin-bottom: 15px;
}

.tab .sub.sub1 {
    margin-bottom: 20px;
}

.customize_wrapper.new__page #regForm .website_url label {
    margin-bottom: 15px !important;
}

.customize_wrapper.new__page .form-group.website_url {
    margin-bottom: 30px;
}

#regForm .tab>.col-12>.form-check label,
#regForm .tab>.col-12>.form-check input {
    cursor: pointer;
}

#regForm .tab>.col-12>.form-check {
    font-size: 1rem;
    margin: 5px 0px 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0px;
}

#regForm .tab>.col-12>.form-check:nth-child(3) {
    margin-bottom: 0px;
}

.form-check input[type="radio"]+.check {
    border: 1px solid #333;
    width: 18px;
    height: 18px;
    border-radius: 20px;
}

.form-check input[type="radio"]:checked+.check::before {
    content: "";
    width: 11px;
    display: inline-block;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 2.5px;
    background: #f23640;
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800px' height='800px' viewBox='0 0 512 512'%3E%3Cpath fill='%23F23640' d='M17.47 250.9C88.82 328.1 158 397.6 224.5 485.5c72.3-143.8 146.3-288.1 268.4-444.37L460 26.06C356.9 135.4 276.8 238.9 207.2 361.9c-48.4-43.6-126.62-105.3-174.38-137z'/%3E%3C/svg%3E"); */
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 23px;
}

.form-check input[type="radio"]:checked+.check {
    width: 18px;
    height: 18px;
    background-color: #dadadb;
    border-color: #dadadb;
    position: relative;
}

#regForm .tab>.col-12>.form-check input {
    display: block;
    position: absolute;
    left: 20px;
    opacity: 0;
    height: 18px;
    width: 18px;
}

.other-platform-input input,
.other-source-input input {
    width: 100%;
    margin: auto;
    background: #f2f2f2;
}

.customize_wrapper.new__page #regForm .tab label:first-child {
    font-weight: 500;
}

.customize_wrapper.new__page form#regForm .form-control.select-source {
    width: 100%;
}

.form-control label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



#regForm .form-check {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
}

#regForm .form-check-input {
    position: absolute;
    left: 23px;
    top: -2px;
    opacity: 0;
    cursor: pointer;
}

label.text_smn {
    font-size: 16px !important;
    font-weight: 600;
}


/* New Login Pages */

.register-page {
    display: flex;
    width: 100%;
    background: #fff;
    overflow-x: hidden;
  }
  
  .register-form {
    width: 40%;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    background: #e1e1e1;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .register-form .logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .register-form .logo-header img {
    width: 250px;
  }
  
  .register-form .form-design {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2.5rem;
  }
  
  .register-form .form-design .heading {
    width: 100%;
    font-size: 2rem;
    color: #000;
    margin-bottom: 0;
    font-weight: 700;
  }
  
  .register-form .form-design .gogle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
    background: transparent;
    color: #f33543;
    border: 0.125rem solid #f33543;
    transition: all .3s;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: .875rem;
    text-decoration: none;
  }
  
  .register-form .form-design .gogle-button:hover {
    background: #ffe0e3;
    color: #f33643;
    border-color: #f33643;
  }
  
  .register-form .form-design .or {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #d1d5db;
    margin: 1.5rem 0;
  }
  
  .register-form .form-design .or:after,
  .register-form .form-design .or:before {
    content: "";
    flex-grow: 1;
    background: currentColor;
    height: 1px;
    font-size: 0;
    line-height: 0;
  }
  
  .register-form .form-design .or span {
    margin: 0 0.5rem;
    color: currentColor;
  }
  
  .form-design .form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.75rem;
    row-gap: 0.75rem;
    position: relative;
    min-height: 120px;
    overflow: hidden;
    border-radius: 4px;
    margin-top: 2rem;
  }
  
  .form-design .form .form-input {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
  }
  
  .form-design .form .form-input .lable-design {
    font-size: .875rem;
    line-height: 1.375rem;
    margin-bottom: 4px;
    color: #000;
    font-weight: 700;
  }
  
  .form-design .form .form-input .input-design {
    height: 3rem;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 0 0.75rem;
    color: #4b5563;
    font-size: 14px;
    outline: none;
    box-shadow: none;
  }
  
  .form-design .form .form-input.ckeck-box {
    display: flex;
    align-items: center;
  }
  
  .form-design .form .form-input.ckeck-box .form-check-input {
    position: relative;
    width: 1rem;
    height: 1rem;
    border: 2px solid #9ca3af;
    border-radius: 50%;
    margin-right: 0.5rem;
    padding: 0.1rem;
    background-color: #fff;
    margin: 0 8px 0 0;
    accent-color: #b41d24;
}
.alert-danger a {
    color: #721c24;
}
  
  .form-design .form .form-input.ckeck-box .form-check-label {
    color: #000;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
  
  .form-design .form .form-input.ckeck-box .form-check-label a {
    color: #b41d24;
    text-decoration: none;
    font-weight: 600;
  }
  
  .form-design .form .form-input .submit-button {
    margin-top: 1rem;
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    background: #b41d24;
    color: #fff;
    border: none;
    line-height: 1.325rem;
    cursor: pointer;
    transition: all .3s;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }
  
  .form-design .form .form-input .submit-button:hover {
    background: #b41d24;
  }
  
  .form-design .form .form-input .already-account {
    color: #000;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .form-design .form .form-input .already-account a {
    color: #b41d24;
    font-weight: 600;
    text-decoration: none;
  }
  
  .register-form .footer-design {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-weight: 600;
    font-size: .8rem;
    margin-top: 1rem;
  }
  
  .register-page .register-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    position: relative;
    width: 60%;
    padding-left: 3.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .register-page .register-detail .posotion {
    z-index: 0;
    position: absolute;
    bottom: 0;
    height: 100vh;
  }
  
  .register-page .register-detail .register-detail-design {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding-right: 3.5rem;
    row-gap: 20px;
  }
  
  .register-detail-design .item {
    display: grid;
    grid-template-columns: 40px 1fr;
    padding: 14px;
    column-gap: 20px;
    row-gap: 5px;
    align-items: self-start;
    justify-content: start;
    text-align: start;
    background: #fafafa;
    border-radius: 1.25rem;
    box-shadow: 0px 2px 7px 0px #00000069;
    height: max-content;
  }
  
  .register-detail-design .item:nth-child(even) {
    margin-top: 2rem;
  }
  
  .register-detail-design .item img {
    width: 40px;
    margin-bottom: 0px;
    grid-row: 1/3;
  }
  
  .register-detail-design .item .heading {
    width: 100%;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
    font-size: 16px;
    margin: 0px;
  }
  
  .register-detail-design .item .text {
    color: #000;
    font-size: 1rem;
    margin: 0;
    width: 100%;
    grid-column: 2/3;
    font-size: 14px;
  }
  
  
  
  .register-detail-design.grid-column .item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5rem 0.5rem;
    background: #fafafa;
    border-radius: 1.25rem;
    box-shadow: 0px 2px 7px 0px #00000069;
    height: max-content;
  }
  
  .register-detail-design.grid-column .item:nth-child(even) {
    margin-top: 3rem;
  }
  
  .register-detail-design.grid-column .item img {
    width: 40px;
    margin-bottom: 1rem;
  }
  
  .register-detail-design.grid-column .item .heading {
    width: 100%;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
  }
  
  .register-detail-design.grid-column .item .text {
    color: #000;
    font-size: 1rem;
    margin: 0;
    width: 100%;
  }
  
  
  
  
  
  
  
  .register-page .register-detail .register-detail-design.grid-column {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .register-page .register-detail .register-review {
    background: #f7727d;
    background-image: linear-gradient(to bottom right, #f54953a8, #b41d24ba);
    margin-top: 2.5rem;
    padding: 15px 20px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 40px 0 0 40px;
  }
  
  .register-review .img {
    width: 100%;
    max-width: 140px;
  }
  
  .register-review .img img {
    width: 100%;
    border-radius: 50%;
  }
  
  .register-review .content {
    width: 100%;
    padding: 35px 35px 30px 50px;
    position: relative;
  }
  
  .register-detail .register-review svg {
    position: absolute;
    width: 50px;
    left: -10px;
    object-fit: contain;
    top: 10px;
    rotate: 8deg;
  
  }
  
  .register-detail .register-review h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #fff;
  }
  
  .register-detail .register-review .text {
    color: #fff;
  }
  
  .register-detail .register-review .user {
    position: relative;
    color: #fff;
  }
  
  .register-detail .register-review .user img {
    position: absolute;
    width: 24px;
    left: 0;
    object-fit: contain;
    top: -4px;
    rotate: 8deg;
    height: 100%;
  }
  
  .register-detail .register-review .user h5 {
    margin: 8px 0px 0px;
    font-weight: 700;
    font-size: 16px;
  }
  
  .register-detail .register-review .user .designation {
    font-weight: 600;
    margin: 5px 0;
    color: #fff;
  }
  
  .register-detail .register-review .user .website {
    margin: 0;
  }
  
  .register-detail .register-review .user .website a {
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
  }
  
  .register-detail .register-review .user .location {
    font-size: 14px;
    margin-top: 8px;
  }
  
  .form-design .login_buttons {
    margin: 15px 0;
  }
  
  .form-design .alert {
    margin: 1rem 0 0;
  }
  div#rcaptcha {
    margin-top: 1rem;
  }
  p.copyright a {
    color: initial;
    text-decoration: none;
  }
  .icon-show-pass.swap .hide {
    display: none;
  } 
  
  .icon-show-pass.swap .show {
    display: block;
  }
  .icon-show-pass .show {
    display: none;
  }
  .icon-show-pass {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 10px;
  }
  .pass__field {
    position: relative;
  }
  .copyright {
  margin: 0;
  }
  .form-input p a, .form-design .form .form-input.ckeck-box .form-check-label a {
    color: #b41d24;
    text-decoration: none;
    font-weight: 600;
}
form#regForm .stp_con .form-control {
    width: calc(50% - 3px);
}
.inst_speed_new-container.speed_con {
    padding: 20px 20px 4px;
    border: 3px solid #27ae60;
    border-radius: 10px;
}
.speed_con .page-cvw-box{
    padding-bottom: 0;
}

.rating__wrpper .logos img,
.rating__wrpper .logos svg {
width: 100%;
object-fit: contain;
}

.rating__wrpper .logos {
display: flex;
align-items: center;
gap: 30px;
margin-top: 1.5rem;
}

.rating__wrpper .logos a {
width: 25%;
}
.rating__wrpper .logos a:first-child,
.rating__wrpper .logos a:nth-child(2){
width: 20%;
}
.rating__wrpper .logos a:nth-child(3){
width: 28%;
}
.rating__wrpper .logos a:last-child{
filter: invert(1);
width: 14%;
}

.register-review_admin {
margin-top: 5rem;
padding-right: 3.5rem;
max-width: 1000px;
}

.register-review_admin  .stars{
display: flex;
align-items: center;
gap: 15px;
}

.register-review_admin  .stars span{

font-weight: 500;

}
  @media (max-width: 1200px) {
    .register-form {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
  
    .register-page .register-detail {
        padding-left: 1.5rem;
  
    }
  
    .register-page .register-detail .register-detail-design {
        column-gap: 25px;
        padding-right: 1.5rem;
  
    }
  
    .register-review .img {
        width: 100%;
        max-width: 100px;
    }
  
    .register-detail .register-review svg {
        left: -40px;
    }
  
    .register-review .content {
        padding: 15px 15px 15px 30px;
    }
    .register-page .register-detail .register-review {
        margin-top: 2rem;
    }
  
  }
  
  @media (max-width: 900px) {
    .register-form {
        width: 100%;
    }
  
    .register-page .register-detail {
        display: none;
    }
    .register-form .form-design {
        margin-top: 2rem;
    }
    .register-form {
      max-width: 700px;
      margin: auto;
      background: none;
      height: fit-content;
      background: #fff;
      border-radius: 15px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
    .register-page {
        background: #eee;
        padding: 1rem;
        height: 100vh;
  
    }
    
  }
  @media (max-width: 768px) {
  
    .register-form .form-design .heading {
        font-size: 1.5rem;
    }
    .register-form .logo-header img {
      width: 180px;
  }
  .copyright{
    font-size: 11px;
    margin-bottom: 0;
  }
  .form-design .form .form-input .input-design {
    height: 2.5rem;
  }
  .register-form .logo-header {
    margin-top: 0;
  }
  .register-form .form-design {
    margin-top: 1.5rem;
  }
  .form-design .form {
    margin-top: 1rem;
  }
  .icon-show-pass {
    top: 31px;
}
  }

.plan__page .free__tag {
    display: none;
}

.container.customize_flow {
    position: relative;
    z-index: 99;
}
.other_source_input input#other_source_name {
    border: 1px solid #2f4858 !important;
    margin-top: 10px !important;
}